@charset "utf-8";

a,a:hover,area
{
    outline: 0
}

.foot
{
    margin-top: 0
}

#main
{
    width: 100%;
    background-color: #f8f8f8
}

.vip-banner
{
    overflow: hidden;
    position: relative
}

.vip-banner ul
{
    height: 425px;
    overflow: hidden
}

.vip-banner ul li
{
    background-position: center 0;
    height: 425px;
    background-repeat: no-repeat
}


.vip-banner .bx-pager .bx-pager-item
{
    margin-right: 25px
}

.vip-banner .bx-pager .bx-pager-item a.bx-pager-link
{
    width: 12px;
    height: 12px;
    background-position: -76px 0
}

.vip-banner .bx-pager .bx-pager-item a.active
{
    background-position: -88px 0
}

.vip-banner .bx-controls-direction a
{
    display: block;
    width: 35px;
    height: 68px;
    text-indent: -9999px;
    position: absolute;
    top: 180px
}

.vip-banner .bx-controls-direction a.bx-prev
{
    background-position: 0 0;
    left: 120px
}

.vip-banner .bx-controls-direction a.bx-next
{
    background-position: -35px 0;
    right: 120px
}

.vip-banner .bx-pager
{
    bottom: 10%
}

.vip-Ad
{
    height: 75px;
    background-color: #ededed;
    overflow: hidden;
    margin-bottom: 70px;
    border-bottom: 1px solid #dbdbdb
}

.vip-Ad ul
{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden
}

.vip-Ad li.ad4
{
    background: 0
}



.vip-Ad .ad1 span
{
    background-position: 0 -69px
}

.vip-Ad .ad2 span
{
    background-position: -45px -69px
}

.vip-Ad .ad3 span
{
    background-position: -90px -69px
}

.vip-Ad .ad4 span
{
    background-position: -135px -69px
}

.vip-Ad li p
{
    display: inline-block;
    vertical-align: top;
    margin: 14px 0 0 10px;
    font-size: 14px;
    line-height: 18px
}

.vip-Ad li p code
{
    font-family: Latha!important;
    color: #999
}

.vip-f
{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden
}

.vip-brand
{
    position: relative;
    margin-bottom: 40px
}

.vip-brand h2
{
    height: 40px;
    font-size: 24px;
    color: #666;
    font-weight: normal
}

.vip-brand h2 i
{
    font-style: normal;
    color: #ae0e16;
    font-size: 12px;
    font-family: Arial!important;
    padding-left: 5px
}

.brand-more
{
    position: absolute;
    font-size: 14px;
    color: #666;
    font-family: "宋体"!important;
    top: 50px;
    left: 895px;
    z-index: 2
}

.vip-brand .brand-in
{
    overflow: hidden
}

.vip-brand .brand-fl
{
    width: 940px;
    float: left;
    overflow: hidden;
    margin-right: 13px
}

.vip-brand .brand-fl ul
{
    overflow: hidden;
    padding-top: 10px
}

.vip-brand .brand-list
{
    width: 940px;
    height: 340px;
    margin-bottom: 20px
}

.vip-brand .brand-list a
{
    width: 940px;
    height: 340px;
    display: block;
    position: relative;
    transition: all 800ms linear;
    -webkit-transition: all 800ms linear;
    -moz-transition: all 800ms linear;
    top: 0
}


.vip-brand .brand-fl dl
{
    overflow: hidden
}

.vip-brand .brand-fl dt
{
    width: 330px;
    height: 300px;
    position: relative;
    float: left;
    background: #fff;
    margin: 33px 0 0 3px
}

.vip-brand .brand-fl dd
{
    width: 604px;
    height: 300px;
    overflow: hidden;
    float: left;
    margin: 33px 0 0 0
}


.vip-brand .brand-fl .logos img
{
    display: block;
    margin: 31px auto 0;
    width: 102px;
    height: 51px;
    text-align: center
}

.vip-brand .brand-fl .wd
{
    width: 303px;
    height: 271px;
    margin: 13px auto 0;
    border: 1px solid #d6d6d6
}

.vip-brand .brand-fl .p1,.vip-brand .brand-fl .p2
{
    font-size: 14px;
    line-height: 24px;
    color: #121212;
    text-align: center;
    font-family: "宋体"!important
}

.vip-brand .brand-fl .p1
{
    margin-top: 70px
}

.vip-brand .brand-fl .p3
{
    font-size: 18px;
    color: #ae0e16;
    text-align: center;
    padding: 5px 0 15px;
    width: 90%;
    border-bottom: 1px dashed #c8c8c8;
    margin: 0 auto
}

.vip-brand .brand-fl .p4
{
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    margin: 0 auto;
    background: #333;
    color: #fff;
    font-size: 16px
}

.vip-brand .brand-fl .p4 code
{
    font-family: "宋体"!important;
    padding-left: 5px
}

.vip-brand .brand-fl .count-down
{
    height: 40px;
    line-height: 45px;
    color: #121212;
    text-align: center;
    font-size: 14px
}

.vip-brand .brand-list a:hover .p4
{
    background: #ae0e16
}

.vip-brand .brand-fr
{
    width: 225px;
    padding: 0 10px;
    float: left;
    border: 1px solid #ececec;
    background: #fff;
    margin-top: 10px
}


.vip-list
{
    overflow: hidden
}

.vip-list a
{
    display: block;
    overflow: hidden;
    width: 211px;
    position: relative;
    border-bottom: 1px dashed #b4b4b4;
    padding: 0 7px;
    height: 350px
}

.vip-list img
{
    display: block;
    margin: 20px auto 15px;
    width: 200px
}

.vip-list .p1
{
    color: #ae0e16
}

.vip-list .p1 i
{
    font-style: normal
}

.vip-list .p1 span
{
    font-family: Arial!important;
    font-size: 18px;
    letter-spacing: -1px
}

.vip-list .p1 code
{
    font-size: 14px;
    font-family: "Microsoft Yahei","Lucida Grande",Arial,"宋体"
}

.vip-list .p1 del
{
    font-family: Arial!important;
    color: #666;
    float: right;
    margin-top: 8px
}

.vip-list .p2
{
    font-family: "宋体"!important;
    color: #666;
    height: 37px;
    overflow: hidden
}

.vip-list .p3
{
    color: #ae0e16;
    font-family: "宋体"!important;
    margin-top: 3px
}

.vip-list .p3 span
{
    color: #fff;
    padding: 2px 5px;
    background: #ae0e16;
    font-family: "宋体"!important
}


.vip-f2
{
    margin-bottom: 60px
}


.vip-f2 h2 span
{
    padding: 0 20px;
    display: inline-block;
    background: #f8f8f8;
    line-height: 25px
}

.vip-f2 h2 span i
{
    color: #666;
    font-size: 16px;
    font-weight: normal;
    font-style: normal
}

.vip-order
{
    overflow: hidden;
    margin: 15px 0 10px
}

.vip-order dl
{
    float: left;
    margin-left: 10px;
    overflow: hidden;
    width: 500px;
    text-align: center
}

.vip-order dt
{
    float: left;
    color: #666;
    font-family: "宋体"!important;
    height: 24px;
    padding: 0 10px;
    line-height: 24px
}

.vip-order dd
{
    float: left;
    overflow: hidden;
    position: relative
}

.vip-order dd a
{
    font-family: "宋体"!important;
    color: #666;
    display: block;
    height: 24px;
    padding: 0 15px;
    line-height: 24px
}

.vip-order .list-more
{
    height: 26px;
    line-height: 24px;
    float: right;
    margin-left: 20px;
    font-family: "宋体"!important;
    color: #666
}

.vip-order a:hover
{
    color: #ae0e16
}

.vip-order .cur a,.vip-order .cur-up a,.vip-order .cur-down a
{
    color: #ae0e16;
    border: 1px solid #ae0e16
}


.vip-order .cur-up b,.vip-order .cur-down b
{
    display: block
}

.vip-order .cur-up b
{
    background-position: -125px -149px
}

.vip-order .cur-down b
{
    background-position: -133px -149px
}

.vip-order .cur-up a,.vip-order .cur-down a
{
    padding-right: 26px
}

.vip-list2
{
    background: #fff;
    padding: 20px 0 10px
}

.vip-list2 a
{
    width: 240px;
    float: left;
    margin: 0 15px 20px;
    padding: 15px 15px 10px;
    border: 0;
    height: auto!important
}

.vip-list2 a:hover
{
    background: #f8f8f8
}

.vip-list2 a img
{
    width: 240px;
    margin: 0 auto 20px
}

.vip-list2 .sale-out
{
    top: 64px
}

.vip-list2 .count-down
{
    position: absolute;
    top: 230px;
    left: 15px;
    line-height: 24px;
    background: #000;
    height: 24px;
    padding: 0 7px;
    color: #cfb789
}

.vip-list2 .p1
{
    color: #5d5d5d
}

.vip-list2 .p1 span
{
    padding-right: 5px
}

.vip-list2 .p1 code
{
    background: #af0e16;
    color: #fff;
    padding: 0 5px
}

.vip-list2 .p1 code b
{
    font-weight: normal
}

.vip-list2 .p1 del
{
    color: #999
}

.vip-list2 .p3
{
    text-align: right;
    color: #999;
    padding-top: 0
}

.vip-list2 .p4
{
    display: none
}

.vip-more
{
    width: 226px;
    margin: 0 auto 60px;
    overflow: hidden
}


.vip-gz
{
    width: 1200px;
    margin: 0 auto 80px;
    overflow: hidden
}

.vip-gz dt
{
    height: 50px;
    border-bottom: 1px solid #b0b0b0;
    line-height: 50px;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 15px
}

.vip-gz dt i
{
    float: right;
    color: #b0b0b0;
    margin-top: 15px;
    font-style: normal;
    font-size: 12px
}

.vip-gz dd
{
    color: #767676;
    line-height: 24px
}

.vip-gz dd p
{
    font-family: "宋体"!important
}

.vip-menu
{
    width: 62px;
    display: none
}

.vip-menu-show
{
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -680px;
    display: block;
    z-index: 10
}


.vip-menu .menu-in
{
    background-color: #fff
}

.vip-menu .link-1 i
{
    background-position: -100px 0
}

.vip-menu .link-2 i
{
    background-position: -126px -160px
}

.vip-menu .link-3 i
{
    background-position: -128px 0
}

.vip-menu .link-4 i
{
    background-position: -156px 0
}

.vip-menu .link-5 i
{
    background-position: -100px -28px
}

.vip-menu .link-6 i
{
    background-position: -128px -28px
}

.vip-menu .link-app i
{
    background-position: -156px -28px
}

.vip-menu .link-kf
{
    background: #ae0e16;
    margin-bottom: 1px;
    font-size: 14px;
    color: #f8f8f8;
    padding-top: 10px;
    height: 52px
}


.vip-menu .menu-in a:hover,.vip-menu .link-app:hover,.vip-menu .menu-in .cur
{
    background: #ae0e16;
    color: #f8f8f8
}
